@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  background: #ffffff;
  color: #0a0a0a;
}

body {
  font-feature-settings: "ss01", "cv11";
}

.mermaid svg {
  max-width: 100%;
  height: auto;
}

.pulse-dot::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  background: currentColor;
  margin-left: 0.4rem;
  animation: pulse 1.6s ease-in-out infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
